<% content_for :title do %>
  Inbox
<% end %>
<div class="row">
  <div class="12-large columns">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.subject %></td>
        <td><%= link_to 'Show', contact , class: "small radius button" %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "small radius button" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>