<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Flash360 Consulting, LLC" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<!-- Navigation -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="<%= home_index_path %>">
            <h1><span style="color:#3e94d1; font-family:'Myriad Pro','Helvetica Neue',Helvetica,Arial,Sans-Serif; ">FLASH</span><span style="color:#fff">360</span></h1>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="<%= resume_index_path %>">Experience</a></li>
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="contactModal">Contact</a></li>
      </ul>
    </section>
  </nav>
  
  <!-- End Header and Nav -->

  <%= yield %>

  <!-- Footer -->

  <%= render :template => "footer/show" %>
  
  <!-- modal -->
  <div id="contactModal" class="reveal-modal">
  <%= render :template => "contact/index" %>
  <a class="close-reveal-modal"><i class="general foundicon-remove"></i></a>
</div>
  <%= javascript_include_tag "application" %>
  </body>
</html>
